*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body,.jumbotron{
  background-image: url("../imgs/gradient.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
h1,h3{
    
    color:  orangered;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color:yellowgreen ;
  
}
h1{
    font-size: 80px;
}
img{
    background-color: transparent;
    width: 100px;
    height: 100px;
}
